<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hobbies | Jose Caraveo</title>
    <link rel="stylesheet" href="../resources/styles.css">
</head>

<body>

<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="hobbies.html">Hobbies</a>
        <a href="projects.html">Projects</a>
        <a href="resume.html">Resume</a>
    </nav>
</header>

<main>
    <section>
        <h1>These are my hobbies</h1>

        <h2>History</h2>
        <img src="../pictures/history.jpg" alt="Byzantine mosaic artwork">
        <p>I enjoy history, my favorite parts of history to study are the Byzantine empire and North American history.</p>

        <h2>Combat sports</h2>
        <img src="../pictures/judo.jpg" alt="Two judo practitioners mid-throw">
        <p>My favorite sports are combat sports, I play judo and watch mma events and talk about mma with friends who train a lot more than I do quite often.</p>

        <h2>Video games</h2>
        <img src="../pictures/league.jpg" alt="League of Legends gameplay screenshot">
        <p>I have not played many new games but recently I have enjoyed league of legends and Kenshi.</p>
    </section>
</main>

<footer>
    <p>&copy; 2026 Jose Caraveo</p>
</footer>

</body>
</html>