<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home | Jose Caraveo</title>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Home</h1>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html><link rel="stylesheet" href="../resources/styles.css">
</head>

<body>
<main>
    <nav>
        <a href="home.html">Home</a> |
        <a href="projects.html">Projects</a> |
        <a href="hobbies.html">Hobbies</a>
        <a href ="resume.html">Resume</a>
    </nav>

    <h1>Introduction</h1>
    <img src="..//pictures/buff-logo.jpg" alt="Picture of Boulder campus">
    <p>I am a junior studying computer science, my favorite topics are stats, algorithms, and robotics.</p>
    </main>
    <a href="https://www.youtube.com/watch?v=Mb56zLyWfZs&list=RDMb56zLyWfZs&start_radio=1&pp=oAcB" class="btn btn-danger" target="_blank" rel="noopener">Last Watched YouTube Video</a>
        <a href="..//JoseCaraveoResume922.pdf" download="JoseCaraveoResume922.pdf" class="download-btn">
  Download Resume as PDF
</a>


    <footer>
        <p>Contact me @ joca7536@colorado.edu</a></p>
    </footer>
</body>
</html>