<!DOCTYPE html>
<html lang="en">
<head>
    <title>Projects | Jose Caraveo</title>
<link rel="stylesheet" href="../resources/styles.css">

</head>

<body>

    <nav>
        <a href="home.html">Home</a>
        <a href="projects.html">Projects</a>
        <a href="hobbies.html">Hobbies</a>
    </nav>

    <h1>My Projects</h1>

    <h2>Project 1</h2>
    <img src="..//pictures/flamegraph.png" alt="Project 1 image">
    <p>C++ Sampling profiler that creates a flamegraph off of a callstack</p>
    <a href="https://github.com/jacarav0/cpp-sampling-profiler">View Project 1</a>

    <h2>Project 2</h2>
    <img src="..//pictures/escapethe.png" alt="Project 2 image">
    <p>Simple obstacle course made in roblox</p>
    <a href="www.roblox.com/games/13862578474/ESCAPE-THE-SUBMARINE">View Project 2</a>


</body>
</html>